<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400;700&family=Raleway:wght@100;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="./node_modules/materialize-css/dist/css/materialize.css"
    />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Class Chaser</title>
  </head>
  <body>
    <h1>Class Chaser</h1>
    
    {{{body}}}
    <script src="./node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
